@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    
}
body{
    background-color:#01692B;
    
}
hr{
    padding-bottom: 8%;
    border-bottom: 10px;
    width:50%;
    margin:auto;
    border-top: 10px solid #01692B;
    
}
.navbar-brand{
    width:150px;
}
.parentDiv{
    border-radius:15px;
    display:flex;
    flex-direction:column;
    background-color: white;
    width:85%;
    margin:auto;

  
    
}
input{
    border-radius:15px;
    background-color: #01692B;
    color:white;
    border:none;
}
input:hover{
    background-color:#003415;
    transition-duration: 0.4s;
}

.frontPageLogo{
    width: 50%;
    align-self:center;
}
.currentEvent{
    border-radius:15px;
    width:55%;
    align-self:center;
    padding-bottom:85px;
}
.ticketBtn{
    align-self:center;
    border-radius: 30%;
    font-size: 150%;
    padding-bottom: 8%;
}
h1{
    align-self:center;
    padding-top:30px;
    padding-bottom:2%;
    font-size:250%;
}
p{
    font-size:200%;
    text-align:center;
    padding-bottom:8%;
    width:65%;
    align-self: center;
}

.contactPhoto{
    /* display:flex; */
    width:25%;
    /* align-self:flex-start; */
    margin-bottom:8%;
    margin-left:8%;
    border-radius:50%;
}
.contactInfo{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;

}
.informationList{
    font-size:150%;
    list-style-type: none;
    display:flex;
    flex-direction:column;
    gap:5%;
    padding-bottom:8%;
    
    
}

