@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    
}
body{
    
    background-color:#01692B;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
hr{
    border-bottom: 10px;
    width:50%;
    margin:auto;
    margin-bottom:12px;
    border-top: 10px solid #01692B;

    
}
.navbar-brand{
    width:150px;
}
.parentDiv{
    border-radius:15px;
    display:flex;
    flex-direction:column;
    align-self:center;
    background-color: white;
    width:85%;
    margin:auto;
    padding-top: 10px;
    padding-bottom:20px;

  
    
}
input, label{
    margin: 5px 5px;
    border-radius:15px;
    background-color: #6bae86;
    color:white;
    border:none;  
}
input:hover{
    background-color:#6bae86;
    border-radius:15px;
    transition-duration: 0.4s;
}
.eventBtn{
    display:flex;
    align-self:center;
    margin: 12px 12px 12px 12px;
    border-radius:15px;
    font-size:150%;
    padding:10px;

    background-color:#6bae86;
    border-width:3px;
    border-color:#01692B;
    color:#01692B;

}
.material-symbols-outlined {
max-width: 95px;
min-height: 55px;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  

}
.material-symbols-outlined:hover{
    cursor:pointer;
}
.eventBtn.hover{

    border-width:3px;
    border-color:#6bae86;
    color:#6bae86;
    background-color:#01692B;
    border-radius:15px;
    transition-duration: 0.4s; 
}
.cForm{
    padding:10px;
    padding-bottom:35px;
    width: 450px;

}

.form-control {

    float:left;
    font-size:larger; 
    border-width:  3px;
    border-color:#6bae86;
}
.formContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    background-color: white;
    color:#7fc49b;
    border-color:#6bae86;
    border-width: 3px;
    border-radius:15px;
    margin: 10px 10px 10px 10px;
}

.eventRow{
    display:flex;
    flex-direction:column;
    padding-top:25px; 
}
.eventDiv{
    display:flex;
    flex-direction:column;
    padding-top:15px;
    padding-bottom:25px; 
}

#eventTitle{
    width: 97%;
    border-radius:15px;
}
#eventStreet{
    width: 97%;
    border-radius:15px;
}

#eventCity {
    width: 61%;
    border-radius:15px;
}
#eventState {
    width: 30%;
    border-radius:15px;
}
#eventCountry{
    width: 60%;
    border-radius:15px;
}
#eventStartTime{
    width: 45%;
    border-radius:15px;
}
#eventEndTime{
    width: 45%;
    border-radius:15px;
}
#eventDate{
    width:65%;
    border-radius:15px;
}
#eventCost{
    width: 25%;
    border-radius:15px;
}
#eventLink{
    width: 97%;
    border-radius:15px;
}
#s{
    display:flex;
    justify-content:center;
    margin:auto;
    text-align:center;
    font-size:150%;
    width:12px 12px;
    margin-bottom: 10px;
    border-radius:15px;
    padding:10px;
    border:none;
    background-color:#01692B;
    color:#6bae86;

}
#s:hover{
    border:none;
    color:#01692B;
    background-color:#6bae86;
}

.sContainer{
    display:flex;
    flex-flow: row wrap;
    align-self:center;
    column-gap:20px;
    
}



.frontPageLogo{
    width: 50%;
    align-self:center;
}
.currentEvent{
    border-radius:15px;
    width:55%;
    align-self:center;
    padding-bottom:85px;
}
.ticketBtn{
    align-self:center;
    border-radius: 30%;
    font-size: 150%;
    padding-bottom: 8%;
}
h1{
    color:#01692B;
    align-self:center;
    padding-top:30px;
    padding-bottom:2%;
    font-size:250%;
}
p{ 
    font-size:150%;
    text-align:center;
    padding:10px;
    display:flex;
    justify-content:center;
}

.contactPhoto{
    /* display:flex; */
    width:200px;
    height: 200px;
    /* align-self:flex-start; */
    margin-bottom:8%;
    border-radius:50%;
}
.contactInfo{
    padding-left:5%;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    text-align:center;
    font-size:80%;

}
.informationList{
    font-size:150%;
    list-style-type: none;
    display:flex;
    flex-direction:column;
    gap:5%;
    padding-bottom:8%;
    
    
}
.form-floating{
    display:flex;
    align-self:center;
}
#vContainer{
    display:flex;
    flex-flow:column wrap;
    text-align: center;
    column-gap:5px;
    row-gap: 15px;
}
.eBContainer{
display:flex;
flex-flow:row nowrap;
column-gap:2px;
margin:auto; 
}


